@import url('/resources/css/Usuario/usuario.css');

.admin-actividad { min-height:315px; }
.admin-actividad .tabla-responsive { overflow-x:auto; margin-top:22px; }
.estado-actividad { text-transform:capitalize; }
